{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <h2 class="display-6">All My Cats</h2>
        <div class="row">
            {% for cat in catStuff %}
                <div class="card" style="width: 18rem;">
                    <!-- card header -> name of fruit -->
                    <!-- card body -> ready to eat as title, color as text-->
                    <h5 class="card-header">{{cat.title}}</h5>
                    <div class="card-body">
                        <img src="{{ cat.imgUrl}}" alt="">
                        <a href="/fruits/{{ fruit.id }}" class="btn btn-info">
                            View {{ cat.title }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- <h1>Pictures of Cats</h1>
    <div> 
        {% for cats in catStuff %}
            <img src='{{ cats.url }}' alt="Cat Photo" id="catImg" />
        {% endfor%}
        <a href=""><button type="submit" id="newCat">Next Cat</button></a>
        <form action="/cat" method="POST">
            {% for cats in catStuff %}
                <input type="hidden" name="imgUrl" value="{{ cats.url }}"></input>
                <input type="hidden" name="catApiId" value="{{ cats.id }}"></input>
            {% endfor%}
            <button type="submit" id="favorite">Favorite</button>
        </form >
    </div> -->
{% endblock %}
<!-- let me ask you this -->